<header class="site-header">
<img class="site-header__logo" src="../assets/images/logo.png" alt=""/>
        <nav class="site-header__nav">
          <img style="height: 1.3rem;"src="../assets/images/bell.png" alt="bell">
          <img style="height: 2.4rem;"src="../assets/images/headerImg.png" alt="headerImg">
        <div style="margin-left: .1rem; line-height: 18px;" class="right_menu">
            <span>Admin</span><br>
            <span style="font-size:12px; ">Admin</span>
        </div>

          <div style="    margin-left: -20px;
          padding-top: 11px;">
            <img style="height: .5rem;" src="../assets/images/arrowDown.png" alt="selectDownArrow">
          </div>
          
  
  
        </nav>
        
  </header>
