
  <div class="wrapper">
    <div class="sidebar">
        <ul>
            <li class=""><a [routerLink]="['/dashboard']" routerLinkActive="active"> <img style="height: 30px;
              width: 30px; margin-left: 10px;margin-right: 12px;"src="../assets/images/DashboardFilled.png" alt="Dashboard">Dashboard</a></li>
            <li><a [routerLink]="['/repository']" routerLinkActive="active"> <img src="../assets/images/repoFilled.png" alt="SOP">SOP Repository</a></li>
            <li><a [routerLink]="['/monitoring']" routerLinkActive="active"><img src="../assets/images/monitoringFilled.png" alt="Monitoring">SOP Monitoring</a></li>
            <li><a [routerLink]="['/reports']"routerLinkActive="active"><img src="../assets/images/reportFilled.png" alt="Reports">Reports</a></li>
            
        </ul> 
         </div>
   
</div> 
